* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    height: 100vh;
    text-align: center;
}

.App .TitleTop {
    padding: 10px 0px;
    top: 0;
    width: 100%;
    background: grey;
} 

.App .Cards {
    top: 40px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
} 

.App h5 {
    position: fixed;
    padding: 10px 0px;
    bottom: 0;
    width: 100%;
    background: grey;
} 
