.Counter {
    text-align: center;
}

.container {
    display: inline-flex;
}

.container button{
    height: 3rem;
    cursor: pointer;
}

.container button:hover {
    cursor: pointer;
}

.container h4 {
    padding: 0 1rem .3rem;
}